{{ define "main" }}
<div class="margin-bottom-30">
    <!-- Committee member -->
    <div class="row margin-top-30">
        <div class="col-xs-24 col-sm-6">
            <img class="img-responsive" src="/images/committee/rrahman.png" title="Reza Rahman" />
        </div>
        <div class="col-xs-24 col-sm-18">
            <h3>Reza Rahman</h3>
            <p>Reza was previously an official Java technologist at Oracle. He is the author of the popular book EJB 3 in Action. Reza has been a frequent speaker at Java User Groups and conferences worldwide including JavaOne and Devoxx. He has been the lead for the Java EE track at JavaOne as well as a JavaOne</p>
            <p>Reza is the recipient of a Rock Star Speaker award. He is an avid contributor to industry journals like JavaLobby/DZone and TheServerSide. He has been a member of the Java EE, EJB and JMS expert groups over the years. Reza implemented the EJB container for the Resin open source Java EE application server.</p>
            <p>He helps lead the Philadelphia Java User Group.</p>
            <p>
                <a class="twitter-follow-button btn btn-info btn-sm" href="https://twitter.com/reza_rahman" target="_blank">
                    <i class="fa fa-twitter"></i>&nbsp;Follow Reza Rahman on Twitter!
                </a>
            </p>
        </div>
    </div>
    
    <div class="row margin-top-30">
        <div class="col-xs-24 col-sm-6">
            <img class="img-responsive" src="/images/committee/abien.png" title="Adam Bien" />
        </div>
        <div class="col-xs-24 col-sm-18">
            <h3>Adam Bien</h3>
            <p>Java (SE/EE) developer Adam Bien (adambien.blog) has been using Java since JDK 1.0 and JavaScript since LiveScript and still enjoys writing Java and web (standards) code.</p>
            <p>Adam regularly organizes Java EE / WebStandards / JavaScript workshops at Munich’s airport (http://airhacks.com).</p>
            <p>
                <a class="twitter-follow-button btn btn-info btn-sm" href="https://twitter.com/AdamBien" target="_blank">
                    <i class="fa fa-twitter"></i>&nbsp;Follow Adam Bien on Twitter!
                </a>
            </p>
        </div>
    </div>
    
    <div class="row margin-top-30">
        <div class="col-xs-24 col-sm-6">
            <img class="img-responsive" src="/images/committee/igrimstad.png" title="Ivar Grimstad" />
        </div>
        <div class="col-xs-24 col-sm-18">
            <h3>Ivar Grimstad</h3>
            <p>Ivar Grimstad is a Java Champion, Oracle Groundbreaker Ambassador and JUG Leader working as Principal Consultant for Cybercom Group in Sweden.</p>
            <p>He is the PMC Lead for Eclipse Enterprise for Java (EE4J) and was involved in the forming of Jakarta EE. He is also involved in the Java Community Process as a member of the Executive Committee, Spec Lead for JSR 371 (MVC 1.0) and has served as Expert Group Member for a number of JSRs, such as JSR 375 (Java EE Security API).</p>
            <p>Ivar is also involved in Eclipse MicroProfile. He is an Apache NetBeans Committer and a frequent speaker at international developer conferences.</p>
            <p>
                <a class="twitter-follow-button btn btn-info btn-sm" href="https://twitter.com/ivar_grimstad" target="_blank">
                    <i class="fa fa-twitter"></i>&nbsp;Follow Ivar Grimstad on Twitter!
                </a>
            </p>
        </div>
    </div>
    
    <div class="row margin-top-30">
        <div class="col-xs-24 col-sm-6">
            <img class="img-responsive" src="/images/committee/agupta.png" title="Arun Gupta" />
        </div>
        <div class="col-xs-24 col-sm-18">
            <h3>Arun Gupta</h3>
            <p>Arun Gupta is a Principal Technologist at Amazon Web Services. He is responsible for the Cloud Native Computing Foundation (CNCF) strategy within AWS, and participates at CNCF Board and technical meetings actively. He works with different teams at Amazon to help define their open source strategy. He has built and led developer communities for several years. He has extensive speaking experience in 45+ countries on myriad topics. Gupta also founded the Devoxx4Kids chapter in the US and continues to promote technology education among children. </p>
            <p>A prolific writer, author of several books, an avid runner, a globe trotter, a Docker Captain, a Java Champion, a JUG leader, he is easily accessible at @arungupta on twitter.</p>
            <p>
                <a class="twitter-follow-button btn btn-info btn-sm" href="https://twitter.com/arungupta" target="_blank">
                    <i class="fa fa-twitter"></i>&nbsp;Follow Arun Gupta on Twitter!
                </a>
            </p>
        </div>
    </div>
    
    <div class="row margin-top-30">
        <div class="col-xs-24 col-sm-6">
            <img class="img-responsive" src="/images/committee/jjuneau.png" title="Josh Juneau" />
        </div>
        <div class="col-xs-24 col-sm-18">
            <h3>Josh Juneau</h3>
            <p>Josh Juneau works as an application developer, system analyst, and database administrator. He primarily develops using Java and other Java Virtual Machine (JVM) languages. He is a frequent contributor to the Oracle Technology Network and Java Magazine and has written several books on Java and Java EE for Apress. Josh was a JCP Expert Group member for JSR 372 and JSR 378.</P>
            <p>He is a member of the Apache NetBeans developer community, a Java Champion, the leader of the Chicago Java Users Group OSS Initiative, and a regular on the Java OffHeap podcast.</p>
            <p>
                <a class="twitter-follow-button btn btn-info btn-sm" href="https://twitter.com/javajuneau" target="_blank">
                    <i class="fa fa-twitter"></i>&nbsp;Follow Josh Juneau on Twitter!
                </a>
            </p>
        </div>
    </div>
    
    <div class="row margin-top-30">
        <div class="col-xs-24 col-sm-6">
            <img class="img-responsive" src="/images/committee/tobradovic.png" title="Tanja Obradovic" />
        </div>
        <div class="col-xs-24 col-sm-18">
            <h3>Tanja Obradovic</h3>
            <p>Tanja joined Eclipse Foundation as Jakarta EE Program Manager June 2018. Having been involved with Java and Java EE for quite some time, revitalizing Enterprise Java seems like a good challenge and a great fit for her!</p>
            <p>
                <a class="twitter-follow-button btn btn-info btn-sm" href="https://twitter.com/tanjaobradovic" target="_blank">
                    <i class="fa fa-twitter"></i>&nbsp;Follow Tanja Obradovic on Twitter!
                </a>
            </p>
        </div>
    </div>
</div>
{{ end }}