{{ define "main" }}
<div class="margin-bottom-30">
    <!-- Committee member -->

    {{ range .Site.Data.committee.items }}
        <div class="row margin-top-30">
            <div class="col-xs-24 col-sm-6">
                <img class="img-responsive" src="/images/committee/{{ .img }}" title="{{ .name }}" />
            </div>
            <div class="col-xs-24 col-sm-18">
                <h3>{{ .name }}</h3>
                {{ .bio | safeHTML }}
                <p>
                    <a class="twitter-follow-button btn btn-info btn-sm" href="https://twitter.com/{{ .twitter_handle }}" target="_blank">
                        <i class="fa fa-twitter"></i>&nbsp;Follow {{ .name }} on Twitter!
                    </a>
                </p>
            </div>
        </div>
    {{ end }}

</div>
{{ end }}