
{{$currLang:=.Page.Lang }}
{{$langBase:=index .Site.Data $currLang}}
{{$events := (index $langBase).conferences.items}}

<section class="past-events row">
  <div class="container">
  
  <style>
  .past-events {
    padding: 40px 0px;
  }
  .event-panel {
    margin: 1em 2em;
    border-radius:1em;
    border: none;
    overflow:hidden;
    padding: 0;
    height:100%;
    text-decoration: none;
    box-shadow: 6px 6px 8px 1px rgb(0 0 0 / 10%), 6px 6px 20px 4px rgb(0 0 0 / 20%);
  }
  .event-panel:hover {
    text-decoration: underline
  }
  .event-panel .panel-heading{
    padding: 0;
  }
  .event-panel .panel-heading img{
    min-width: 100%;
  }
  .event-panel .panel-body {
  padding:1em;
  padding-top:0;
  }
  </style>
  <div class="row margin-bottom-30">
    <h2 class="brand-primary col-xs-24 col-md-5">{{ i18n "past-events-header" }}</h2>
    {{ range (first 3 (sort $events "date" "asc"))}} 
    {{$t := time .end_date }} 
    {{ if $t.Before now }}
    <div class=" col-xs-24 col-sm-12 col-md-6 match-height-item-by-row">
      <a href="{{ .url }}">
        <div class="event-panel panel panel-default">
          <div class="panel-heading">
            <img class="img" src="https://placehold.it/150x75" />
          </div>
          <div class="panel-body">
            <h3 class="fw-700">{{ .name }}</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
    {{ end }}
    </div>
    <div class="row">
      <p class="pull-right">
        <a href="{{ "/past-events" | absLangURL }}"><i class="fa fa-chevron-right margin-right-10" aria-hidden="true"></i>See all past events</a>
      </p>
    </div>
  </div>
</section>