<section id="about">
    <div class="about-backdrop padding-bottom-40 padding-top-40">
        <div class="container">
            <div class="col-xs-24">
                <h2 class=" padding-bottom-25">About our event</h2>
                <p>JakartaOne Livestream is a one-day virtual conference for developers and technical business leaders
                    that
                    brings insights into the current state and future of Jakarta EE and related technologies focused on
                    developing cloud-native Java applications.</p>
            </div>
        </div>
    </div>
</section>