<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padding-bottom-40 padding-top-40 match-height-item-by-row">
                <h2>Call for papers</h2>
                <p>Insert text here</p>
            </div>
            <div class="col-xs-12 match-height-item-by-row">
                <div class="cfp-backdrop">
                    <div class="centered-container">
                        <a href="#" class="btn btn-gold btn-wide">Submit a talk</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>