{{ define "head-suffix"  }}
    <style>
        .wrapper-logo-default {
            display: none;
        }
    </style>
{{ end }}

{{ define "header"}}
	<a class="sr-only" href="#content">Skip to main content</a>
	<header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
	  {{ partial "navbar.html" . }}
	  <div class="jumbotron featured-jumbotron margin-bottom-0">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-20 col-md-offset-2 col-sm-18 col-sm-offset-3">
		         <img src="{{ "images/jakartaone-white.svg" | absURL }}" id="jakarta-one-logo">
		        
		        <h2>September 10, 2019</h2>
		        <p>JakartaOne Livestream is a one day virtual conference for developers and technical business leaders that brings insights into the current state and future of Jakarta EE and related technologies focused on developing cloud native Java applications.</p>
		        
		      </div>
		    </div>
		  </div>
		</div>
	</header>
{{ end }}

{{ define "main" }}
    <section id="registration">
        <div class="backdrop padding-bottom-40 padding-top-40">
            <div class="container">
                <div class="row">
	            <div class="col-xs-24 col-sm-16 flex-column match-height-item-by-row">
	                <h2>Registration</h2>
	                <p class="flex-grow">JakartaOne Livestream is a great opportunity to get to know the community, learn about the latest developments, and share your ideas live with the ecosystem leaders and innovators!</p>
	            </div>
	            <div class="col-xs-24 col-sm-8 flex-column match-height-item-by-row">
	               <div class="centered-container">
	                   <p><a class="btn btn-gold btn-wide" href="https://www.crowdcast.io/e/nztuljys">Register</a></p>
	                </div>
	            </div>
	            </div>
            </div>
        </div>
    </section>
	
    <section class="alt row" id="plan-of-the-day" >
	    <div class="backdrop padding-bottom-40 padding-top-40">
			<div class="container" >
			   <div class="col-xs-24" >
			       <h2>Plan of the Day</h2>
			       <p>Here is our high-level program plan for the day which spans across three different time zones;</p>
			       <ul>
		               <li>Keynotes</li>
		               <li>Talks</li>
		               <li>Demos</li>
		               <li>Panels/Discussions</li>
			       </ul>
			       <p>Stay tuned for our upcoming updates on the keynotes!</p>
			   </div>
			</div>
		</div>
	</section>
	
	{{ $committee := .Site.Data.committee }}
	{{ partial "program-committee.html" (dict "committee" $committee) }}
	
	{{ partial "get-social.html" }}
{{ end }}