{{ define "header"}}
	<a class="sr-only" href="#content">Skip to main content</a>
	<header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
	  {{ partial "navbar.html" . }}
	  <div class="jumbotron featured-jumbotron margin-bottom-0 padding-bottom-10">
		  <div class="container">
		    <div class="row">
		      <div class="col-md-20 col-md-offset-2 col-sm-18 col-sm-offset-3">
		        <h2>September 10, 2019</h2>
		        <p>JakartaOne Livestream is a one day virtual conference for developers and technical business leaders that brings insights into the current state and future of Jakarta&trade; EE and related technologies focused on developing cloud native Java applications.</p>
		      </div>
		    </div>
		  </div>
		</div>
	</header>
{{ end }}

{{ define "main" }}
    <section id="registration">
        <div class="backdrop padding-bottom-40 padding-top-40">
            <div class="container">
                <div class="row">
                  <div class="col-xs-24 col-md-6 match-height-item-by-row">
                      <img class="img-responsive margin-auto" src="/images/jakarta/jakarta-ee-schooner.png" title="Jakarta EE logo" />
                  </div>
                  <div class="col-xs-24 col-md-18 text-middle text-center match-height-item-by-row">
                    <div style="position:relative; top:20%;">
                      <h2>The event has now concluded!</h2>
                      <p>Thank You for making the first JakartaOne Livestream event a great success!</p>
                      <p>This milestone would not be possible without the collective efforts of a dedicated community.</p>
                    </div>
                  </div>
	             </div>
            </div>
        </div>
    </section>
	
    <section class="alt row" id="plan-of-the-day" >
	    <div class="backdrop padding-bottom-40 padding-top-40">
			<div class="container" >
			   <div class="col-xs-24" >
			       <h2>Plan of the Day (Replays)</h2>
			       <div class="row">
			         <h3>Legend</h3>
			         <ul type="none">
				         {{ range .Site.Data.agenda.types }}
				           <li><span class="{{ .class }}-icon icon">&nbsp;</span> {{ .name }}</li>
				         {{ end  }}
			         </ul>
			       </div>
			       <h3>Sessions</h3>
			       <table class="table">
	             <thead>
	                 <tr>
	                     <th>Session Name</th>
	                     <th>Presenter Name</th>
	                     <th class="text-center">Session recording</th>
	                 </tr>
	             </thead>
	             <tbody>
	                 {{ range $.Site.Data.agenda.items }}
	                     <tr>
	                         <td>
	                             <span class="{{ .type }}-icon icon">
	                                 <span class="sr-only">
	                                     {{ range first 1 (where $.Site.Data.agenda.types "class" .type) }}
	                                         {{ .name }}
	                                     {{ end }}
	                                 </span>
	                             </span>
	                             {{ .name }}
	                         </td>
	                         <td>{{ .presenter }}</td>
	                         <td class="text-center">
	                           <a class="btn btn-primary btn-wide" href="{{ .vod }}" title="Session video for session '{{.name}}'">
		                           <i class="fa fa-play fa-2x" ></i>
		                           <span class="sr-only">Session video for session '{{.name}}'</span>
                             </a>
                           </td>
	                     </tr>
	                 {{ end }}
	             </tbody>
	        </table>
			   </div>
			</div>
		</div>
	</section>
	
	{{ $committee := .Site.Data.committee }}
	{{ partial "program-committee.html" (dict "committee" $committee) }}
	
	{{ partial "get-social.html" }}
	
{{ end }}