{{$currLang:=.Page.Lang }} 
{{$langBase:=index .Site.Data $currLang}} 
{{$events := (index $langBase).conferences.items}}
<section class="active-events">
  <h2 class="h4 brand-primary fw-700">{{ i18n "upcoming-events-header" }}</h2>
  <table class="table table-hover">
    <thead class="sr-only">
      <tr>
        <th scope="col">Date of event</th>
        <th scope="col">Name of event</th>
        <th scope="col">More information</th>
      </tr>
    </thead>
    <tbody>
      {{ range sort $events "end_date" }}
        {{ if (time .end_date).After now }}
        <tr>
          <td>{{ .date }}</td>
          <td><a href="{{ .url }}">{{ if .icon }}<i class="{{ .icon }} margin-right-10" aria-hidden="true"></i>{{ end }}{{ .name }}
          </a></td>
          <td><a class="primary" href="{{ .url }}" title="{{ i18n "upcoming-events-learn-more-title" }} {{ .name }}">{{ i18n "upcoming-events-learn-more" }}</a></td>
        </tr>
        {{ end }}
      {{ end }}
    </tbody>
  </table>
</section>
