
{{$currLang := .Page.Lang }}
{{$langBase := index .Site.Data $currLang}}
{{$events := (index $langBase).conferences.items}}

{{ $years := slice }}
{{ $years_with_events := dict }}

{{/* Builds dictionary of years and events for that year */}}
{{ range $events }}
  {{ $year := time.Format "2006" (time .end_date) }}
  {{ if not (index $years_with_events $year) }}
    {{ $years_with_events = merge $years_with_events (dict $year slice) }}
    {{ $years = $years | append $year }}
  {{ end }}
  {{ $events_for_year := index $years_with_events $year | append . }}
  {{ $years_with_events = merge $years_with_events (dict $year $events_for_year) }}
{{ end }}

<section class="container">
  <h2>{{ i18n "past-events-header" }}</h2>
  <ul>
    {{ range $years }}
      <h3>{{ . }}</h3>
      {{ range (sort (index $years_with_events .) "start_date" "desc") }}
          <li class="margin-left-20">
            <a href="{{ .url }}">{{ .name }} - {{ .start_date }}</a>
          </li>
      {{ end }}
    {{ end }}
  </ul>
</section>