{{$currLang:=.Page.Lang }}
{{$event_id := .Get 0}}
{{$langBase:=index .Site.Data $currLang}}
{{$registration := (index $langBase $event_id).registration}}

{{$t := time $registration.end_date }}

<section id="registration">
  <div class="backdrop padding-bottom-40 padding-top-40">
    <div class="container">
      <div class="row">
        {{ if $registration.image }}
        <div class="col-xs-24 col-md-6 match-height-item-by-row">
          {{$registration.image | safeHTML}}
        </div>
        {{ end }}
        <div class="col-xs-24 {{- if $registration.image }}col-md-18{{ end -}} text-middle text-center match-height-item-by-row">
          <div>
            {{ if $t.After now }}
              <h2>{{$registration.title | safeHTML}}</h2>
              <p>{{$registration.text | safeHTML}}</p>
            {{ else }}
              <h2>{{$registration.end_title | safeHTML}}</h2>
              <p>{{$registration.end_text | safeHTML}}</p>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>